html, body, ul {
    margin:0;
    padding:0;
    color:white;
    font-family: 'Roboto', sans-serif;

}

.container {
    display:flex;
}

.lista {
    display:inline-block;
    margin:0;
    background-color:#444;
    width:25%;
    height:100vh;
    overflow-y:scroll;
}

.info {
    display:inline-block;
    margin:0;
    background-color:#444;
    width:75%;
    height:100vh;
}

.peli, #add {
    font-size:25px;
    padding:7px;
    color:white;
}

.peli:hover, #add:hover {
    color:#444;
    background-color:#ddd;
}

.formaCont {
    display:none;
}

.detalles, .formaCont {
    margin:20px;
}

.clickeada {
    color:#444;
    background-color:white !important;
}

#submitButton {
    margin: 10px 0;
}


.infoDeInput {
    font-size:20px;
    margin-bottom:20px;
}

label {
    font-size:20px;
}
